body {
   background-color: #002635;
   color: #00ffff;
}

img {
   height: 80px;
}

header {
   display: flex;
   justify-content: space-between;
   border: 2px solid red;
}

ul {
   display: flex;
   list-style: none;
   /* border: 3px solid blue; */
}

a {
   text-decoration: none;
   margin-left: 10px;
   color: #00ffff;
}
